/* Szalai Bence - M1MJIR
ELTE IK - Webfejlesztés */

body, html { overflow-x:hidden; }

body{
    background-color: #e2d3c0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
}

.alcim{
    font-size: 2.2em;
    font-weight: bold;
 /*   margin-bottom: 80px; */
    margin-bottom: 40px;
    margin-top: 50px;
}

a:active, a:link, a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    transition: .2s;
    text-shadow:1px 1px rgba(0,0,0,0.4);
}

/* ---------- NAVIGÁCIÓ ---------- */
.navbar-brand{
    image-resolution: 100px, 100px;
}

.navbar{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    max-height: 100px;
    border-bottom: 3px solid rgba(0,0,0,0.4);
    padding-left: 120px;
    padding-right: 120px;
    background-color: #f0e3ca;
}

.navbar-nav > li{
    margin-left:30px;
    font-size: 1.4em;
  }

#idopontfoglalo{
    font-size: 1.3em;
    font-weight:bold;
    margin-right: 50px;
}

.navbar-toggler{
    border: 0px;
}

/* ---------- NAVIGÁCIÓ VÉGE ---------- */


/* ---------- GALÉRIA ---------- */

#carouselContainer{
   padding: 0px !important;
}

.carousel {
    width: 100%;
    height: 600px;
}

.carousel-inner {
    height: 100%;
    max-height: 100%;
}            

.carousel-item {
    width: 100%;
    height: 100%;                
}

.carousel .carousel-indicators button {
    width: 15px;
   height: 15px;
   border-radius: 100%;
 }

/* ---------- GALÉRIA VÉGE ---------- */

/* ---------- KÖSZÖNTŐ ---------- */

#koszonto{
    padding-top: 50px;
    text-align: justify;
    font-size: 1.05em;
}

#koszonto .row{
    height: 100%;
    margin-right: 150px;
    margin-left: 150px;
    padding-bottom: 50px;
}

#koszonto h1{
    font-size: 2.2em;
    font-weight: bold;
}

/* ---------- KÖSZÖNTŐ VÉGE ---------- */

/* ---------- ORVOSAINK ---------- */

#orvosaink{
    padding-top: 50px;
}

#orvosaink img{
    width: 350px;
    height: 350px;
}

.orvosbox {
    width: 100%;
    height: 100%;
    text-align: center;
}

.orvosbox img {
    margin: auto;
}


/* ---------- ORVOSAINK VÉGE ---------- */

/* ---------- VÉLEMÉNYEK ---------- */

#velemenyek{
    padding-top: 100px;
    padding-bottom: 50px;
}

#velemenyek img{
    width: 200px;
    height: 200px;
}

.velemenybox {
    width: 100%;
    height: 100%;
    text-align: center;
}

.velemenybox img {
    margin: auto;
}


.velemeny{
    margin-left: 50px;
    margin-right: 50px;
}

/* ---------- VÉLEMÉNYEK VÉGE ---------- */

/* ---------- HÍREK ---------- */

#hirek{
    padding-bottom: 50px;
}

#hirek .row{
    padding-top: 20px;
    border: 2px solid black;
}

#hirek .alcim{
    margin-bottom: 20px;
}

.kozerdekuhir{
    margin-top: 20px;
}

/* ---------- HÍREK VÉGE ---------- */

/* ---------- ELÉRHETŐSÉGEK ---------- */

#elerhetosegek{
    padding-bottom: 50px;
}
/*#elerhetosegek .alcim{
    padding-top: 30px;
}

#contactfluidc{
    background-image: url(../media/tesztpic2.jpg);
    background-size:cover; 
    background-repeat: repeat-x;
}*/

#elerhetosegek .row{
    padding-top: 20px;
    border: 2px solid black;
}

.icon{
    width: 40px;
    height: 40px;
}

.socialmediaicon{
    width: 25px;
    height: 25px;
}

#contactinfotable{
    height: 400px;
    width: 600px;
}

#contactinfotable tr{
    margin: 10px;
}

#contactinfotable tr td:first-child{
    width: 80px;
    max-width: 80px;
}

#socialmedialine td:last-child{
    width: 200px;
    padding-left: 50px;
    text-align: left;
}

/* ---------- ELÉRHETŐSÉGEK VÉGE ---------- */

/* ---------- LÁBLÉC ---------- */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid black;
    background-image: url(../media/tesztpic2.jpg);
    background-size:cover; 
    background-repeat: no-repeat;
}


/* ---------- LÁBLÉC VÉGE ---------- */

/* ----------                ---------- */
/* ----------                ---------- */
/* ----------                ---------- */
/* ITT KEZDŐDNEK A KÜLÖNBÖZŐ MÉRETEKRE OPTIMALIZÁLT CSS KÓDOK */
/* ----------                ---------- */
/* ----------                ---------- */
/* ----------                ---------- */



/* ---------- MOBIL NÉZET ---------- */

    @media screen and (max-width: 650px) {


        #contactinfotable{
            max-width: 50%;
        }

        #koszonto iframe{
            width: 350px;
        }

        .carousel-indicators{
            visibility: hidden;
        }
        
        #hirek .row{
            margin-left: 20px;
            margin-right: 20px;
    }

        
    #instatd{
        padding-left: 0px !important;
        width: 90px !important;
    }

    #elerhetosegek img{
        text-align: center;
    }

    .centeronmob{
        text-align: center !important;
    }

    #contactinfotable tr td:last-child{
        padding-left: 0px;
    }

    #socialmedialine td:last-child{
        padding-left: 40px !important;
    }

    #contactinfotable tr td:first-child{
        text-align: right;
    }

}

/* ---------- MOBIL NÉZET VÉGE ---------- */

@media screen and (max-width: 1100px) { 
    #mainNav{
        padding-bottom: 15px;
    }
    .navbar-toggler{
        float: right;
    }

    #idopontfoglalo{
        font-size: 1.3em;
        font-weight:bold;
        margin-right: 0px;
    }    
    
    .navbar{
        padding-left: 60px;
        max-height: 400px;
        text-align: center;
    }
    .navbar-brand img{
        position: absolute;
        top: -25px;
        left: 20px;
        width: 120px;
        height: 120px;
    }
    .navbar-nav > li{
    margin-left:30px;
    font-size: 70%
    }

    .alcim{
        margin-left: 0px; 
    }

    .orvosbox{
        margin-top: 40px;
    }

    #orvosaink{
        padding-bottom: 50px;
    }
       
    .velemeny{
        margin-left: 80px;
        margin-right: 80px;
    }

    #contactinfotable tr td{
        text-align: left;
        padding-left: 20px;
    }

    /* FORM OPTIMALIZÁLÁSA KIS MÉRETEKRE: */

    form input, form button{
        margin-top: 20px;
    }

    #formcontainer{
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    
}

@media screen and (max-width: 1350px) {
    #mainNav{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .navbar-nav > li{
        margin-left:30px;
        font-size: 1.2em;
    }

    .carousel {
        width: 100%;
        height: 300px;
    }

        
    #koszonto{
        text-align: center;
    }

    #koszonto .row{
        height: 100%;
        margin-right: 50px;
        margin-left: 50px;
        padding-bottom: 50px;
    }

    #orvosaink img{
        width: 300px;
        height: 300px;
    }    

    .velemenybox, .orvosbox{
        margin-top: 50px;
    }

    .velemeny{
        margin-left: 30px;
        margin-right: 30px;
    }

    #formcontainer{
        margin-bottom: 50px;
    }
}

/* SERVICES.HTML - SZOLGÁLTATÁSOK OLDALA */

/*#servicesMain{
    background-image: url(../media/marblebackground.jpg);
}*/

#services, #contact{
    padding-top: 70px;
}

#services h1, #contact h1{
    font-size: 2.2em;
    font-weight: bold;
}

.smallborder{
    font-size: 1em;
    margin-bottom: 50px;
}

.servcont table{
    border: 3px black solid;
}

.smallborder td{
    padding: 3px;
    border: 1px grey solid;
}

.servicecategory{
    border: 3px black solid !important;
    text-align: center;
    vertical-align: middle;
}

.servicecategory h2{
    font-weight: bold;
}

.lastitemofcategory td{
    border-bottom: 3px black solid !important;
}

/* ---------- SERVICES.HTML VÉGE ---------- */

/* ---------- CONTACT.HTML - KAPCSOLAT OLDAL ---------- */

#contactpagetable{
    margin: 0 auto;
    height: 400px;
    width: 60%;
    text-align: center;
    vertical-align: middle;
}

#contactpagetable td:first-child{
    width: 100px;
    text-align: right;
}

#contactpagetable td{
    border: 0px black solid;
}

#contactpagetable td:last-child{
    text-align: left;
}

#contact iframe{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1000px;
}

/* ---------- CONTACT.HTML VÉGE ---------- */

/* ---------- APPOINTMENT.HTML - IDŐPONTFOGLALÓ OLDAL ---------- */

#formcontainer{
    padding-right: 150px;
    padding-left: 150px;
    border: 1px black solid;
}

.radiobuttons{
    text-align: left;
    font-size: 1.3em;
}

.radiobuttons input{
    margin-bottom: 30px;
}

.inputArea{
    height: 200px;
}

.checkboxes{
    text-align: left;
}

.formbuttons button:first-child{
    margin-left: 5px;
    font-size: 1.5em;
    width: 280px;
    height: 60px;
}

.resetbutton{
    width: 90px;
    height: 60px;
}

.resetbutton img{
    width: 30px;
    height: 30px;
}


/* ---------- APPOINTMENT.HTML VÉGE ---------- */